ACTION=="add", SUBSYSTEM=="net", ATTR{type}=="1", RUN+="/home/radxa/scripts/autoload-wfb-nics.sh"
ACTION=="remove", SUBSYSTEM=="usb", RUN+="/home/radxa/scripts/autoload-wfb-nics.sh"